
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

.interface {
    max-width: 1280px;
    margin: 0 auto;
}

body {
    background: rgb(221, 218, 219);
    height: 100vh;
}

.top-site img {
    position: relative;
    height: auto;
    width: 50%;
} 

section.top-site {
    padding: 40px 4%;
}

.top-site h1 {
    color: black;
    font-size: 42px;
    line-height: 40px;
    margin: 40px 0;
}

.top-site .text p {
    color: black;
    margin: 40px 0;
}





